<!DOCTYPE html>
<html lang="en">

<head>
    <title> Chat History </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="card">
        <div>
            <a href="{{ url_for('settings') }}" class="button">☰</a>
            <a href="{{ url_for('process') }}" class="button">SHOPQUICK</a>
        </div>
    </div>
    <br>

    <div class="card">
        <h1 class="title">account settings</h1>
        <div>
            <a href="{{ url_for('chat_history') }}" class="button">Chat History</a>
            <a href="{{ url_for('change_email') }}" class="button">Change Email</a>
            <a href="{{ url_for('change_password') }}" class="button">Change Password</a>
            <a href="{{ url_for('delete_history') }}" class="button">Delete Chat History</a>
            <a href="{{ url_for('delete_account') }}" class="button">Delete Account</a>
        </div>
    </div>
</body>

</html>